@{
    ViewBag.Title = "Home Page";
}

<h3>Таблица занятости кабинетов</h3>
<p>Сегодня</p>
<table class="tb1" border="1">
    <caption></caption>
    <tr></tr>
    <tr><td style="background-color: green">8:20</td><td style="background-color: green">Свободно</td></tr>
    <tr><td style="background-color: green">10:10</td><td style="background-color: green">Свободно</td></tr>
    <tr><td>12:05</td><td>Михайлов П.</td></tr>
    <tr><td style="background-color: green">14:10</td><td style="background-color: green">Свободно</td></tr>
    <tr><td>15:55</td><td>Белова К.</td></tr>
    <tr><td style="background-color: green">XX:XX</td><td style="background-color: green">Свободно</td></tr>
</table>
<br>
<p>27.04.2018</p>
<table class="tb2" border="1">
    <caption></caption>
    <tr></tr>
    <tr><td>8:20</td><td>Белова К.</td></tr>
    <tr><td>10:10</td><td>Белова К.</td></tr>
    <tr><td>12:05</td><td>Михайлов П.</td></tr>
    <tr><td style="background-color: green">14:10</td><td style="background-color: green">Свободно</td></tr>
    <tr><td style="background-color: green">15:55</td><td style="background-color: green">Свободно</td></tr>
    <tr><td style="background-color: green">XX:XX</td><td style="background-color: green">Свободно</td></tr>
</table> 